body {
    background-image: url("img/conrete.jpg");
    background-size: cover;
}

form {
    text-align: center;
}

table {
    width: 380px;
    border-collapse: collapse;
    border-spacing: 0;
    border: 2px solid black;
}

caption {
    caption-side: bottom;
    padding: 8px;
    font-weight: bold;
}

thead > tr {
    background-color: rgba(13, 24, 44, 0.8);
}

th, td {
    padding: 2px;
    border: 2px solid slategray;
}

span {
    padding-left:8px;
}

.output {
    margin: 8px;
}

/* Main content */
.main-grid {
    width: 400px;
    height: auto;
    margin: auto;
}

/* Title */
.title {
    text-align: center;
    margin-bottom: 0;
    color: rgb(251, 231, 98);
    background-color: rgba(5, 10, 22, 0.745);
    border: 2px solid rgb(6, 14, 22);
}

/* Content */
.content {
    padding-top: 8px;
    color: rgb(235, 243, 151);
    border-top: 0;
    background-color: rgba(34, 38, 42, 0.634);
    border: 1px dotted rgb(3, 3, 10);
}